.shadow-form {
    margin: 2rem; /* Margin of 5, using rem units as m-5 */
    padding: 2rem; /* Padding of 5, using rem units as p-5 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1); */


}

.log{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: xx-large;}